.b-order-list{
    &__item{
        background-color: #fff;
    }
    &__products{

    }
    &__product{

    }
    &__info{
        border-right: 1px solid #e1dfdf;
        & select{
            &.error{
                border: 1px solid red;
            }
        }
    }
}