.b-product-list{
    &__item{
        border:1px solid #b2b2b2;
        border-radius: 5px;
        transition: all 0.5s;
        background-color: #fff;
        &:hover{
            box-shadow: 10px 10px 33px rgba(0, 0, 0, 0.15);
            transition: all 0.5s;
        }
    }
}